{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    {% include 'google_analytics.html' %}
{% endblock %}

{%- block styles %}
<!-- Bootstrap -->
<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
	<title>Edit Profile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<!--===============================================================================================-->
{%- endblock styles %}

{% include "header.html" %}

{% block content %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w" method="post" onsubmit="gtag('event', 'submit', {'event_category' : 'form', 'event_label' : 'edit-profile'});">
					{{ form.hidden_tag() }}

					<span class="login100-form-title p-b-32">
						Edit Profile
					</span>

					<span class="txt1 p-b-11">
						{{ form.country.label }}
					</span>

					<div class="wrap-input100 validate-input m-b-12" data-validate = "Field is required">
						{{ form.country(size=20) }}
						<span class="focus-input100"></span>
					</div>

					{% for error in form.country.errors %}
            			<span style="color:red;">[{{ error }}]</span>
            		{% endfor %}

					<span class="txt1 p-b-11">
						{{ form.city.label }}
					</span>

					<div class="wrap-input100 validate-input m-b-12" data-validate = "Field is required">
						{{ form.city(size=20) }}
						<span class="focus-input100"></span>
					</div>

					{% for error in form.city.errors %}
            			<span style="color:red;">[{{ error }}]</span>
            		{% endfor %}

					<span class="txt1 p-b-11">
						{{ form.date_of_birth.label }}
					</span>

					<div class="wrap-input100 validate-input m-b-12" data-validate = "Field is required">
						{{ form.date_of_birth }}
						<span class="focus-input100"></span>
					</div>

					{% for error in form.date_of_birth.errors %}
            			<span style="color:red;">[{{ error }}]</span>
            		{% endfor %}

					<span class="txt1 p-b-11">
						{{ form.sex.label }}
					</span>

					<div class="wrap-input100 validate-input m-b-12" data-validate = "Field is required">
						{{ form.sex }}
						<span class="focus-input100"></span>
					</div>

					{% for error in form.sex.errors %}
            			<span style="color:red;">[{{ error }}]</span>
            		{% endfor %}

					<span class="txt1 p-b-11">
						{{ form.weight.label }}
					</span>

					<div class="wrap-input100 validate-input m-b-12" data-validate = "Field is required">
						{{ form.weight }}
						<span class="focus-input100"></span>
					</div>

					{% for error in form.weight.errors %}
           				 <span style="color:red;">[{{ error }}]</span>
					{% endfor %}

					<span class="txt1 p-b-11">
						{{ form.height.label }}
					</span>

					<div class="wrap-input100 validate-input m-b-12" data-validate = "Field is required">
						{{ form.height }}
						<span class="focus-input100"></span>
					</div>

					{% for error in form.height.errors %}
           				 <span style="color:red;">[{{ error }}]</span>
            		{% endfor %}

					<span class="txt1 p-b-11">
						 {{ form.workouts_per_week.label }}
					</span>

					<div class="wrap-input100 validate-input m-b-12" data-validate = "Field is required">
						{{ form.workouts_per_week }}
						<span class="focus-input100"></span>
					</div>

					{% for error in form.workouts_per_week.errors %}
            			<span style="color:red;">[{{ error }}]</span>
            		{% endfor %}

					<span class="txt1 p-b-11">
						{{ form.goal.label }}
					</span>

					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						{{ form.goal }}
						<span class="focus-input100"></span>
					</div>

					{% for error in form.goal.errors %}
            			<span style="color:red;">[{{ error }}]</span>
            		{% endfor %}

					<span class="txt1 p-b-11">
						{{ form.activity_level.label }}
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						{{ form.activity_level }}
						<span class="focus-input100"></span>
					</div>

					{% for error in form.activity_level.errors %}
           				 <span style="color:red;">[{{ error }}]</span>
            		{% endfor %}

					<div class="flex-sb-m w-full p-b-48">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox">
							<label class="label-checkbox100" for="ckb1">
								I agree to the Terms & Conditions
							</label>
						</div>
					</div>

					<div class="container-login100-form-btn" onsubmit="gtag('event', 'submit', {'event_category' : 'form', 'event_label' : 'edit-profile'});">
							{{ form.submit() }}
					</div>
				</form>
			</div>
		</div>
	</div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SudoFood 2018</p>
      </div>
      <!-- /.container -->
    </footer>
{% endblock %}

<div id="dropDownSelect1"></div>

{%- block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>

<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/main.js')}}"></script>

{%- endblock scripts %}





