{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  {% include 'google_analytics.html' %}
{% endblock %}

{%- block styles %}
<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<title>SudoFood - Enter Recipe</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/modern-business.css')}}" rel="stylesheet">


{%- endblock styles %}

{% include "header.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mb-4">
          <h3>Enter A Recipe</h3>
          <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="control-group form-group">
              <div class="controls">
                <label>Recipe Title:</label>
                <p>
                  <!--{{ form.title.label }}-->
                  {{ form.title(size=100) }} <br>
                  {% for error in form.title.errors %}
                  <span style="color:red;">[{{ errror }}]</span>
                  {% endfor %}
                </p>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Number of Servings:</label>
              <p>
            <!--{{ form.servings.label }} <br>-->
                {{ form.servings(size=5) }} <br>
                {% for error in form.servings.errors %}
                <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
              </p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Ingredients:</label>
              </div>
              <p>
               <!--{{ form.ingredients.label }} <br>-->
                {{ form.ingredients(cols="100",rows="10") | safe }} <br>
                {% for error in form.ingredients.errors %}
                <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
             </p>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
            {{ form.submit() }}
          </form>
        </div>

      </div>
      <div>
        {% if similar == None %}
        {% else %}
          {% for item in similar %}
          <h3> {{ item[0] }} </h3>
          <p>Calories: {{ item[1]*item[2] }}</p>
          <p>Servings: {{ item[2] }}
          <p>Ingredients: </p>
          <ul> 
          {% for ing in item[3] %}
          <li> {{ ing }} </li>
          {% endfor %}
          </ul>
          {% endfor %}
        {% endif %}
      </div>

    </div>


<div id="dropDownSelect1"></div>
<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SudoFood 2018</p>
      </div>
      <!-- /.container -->
    </footer>
{% endblock %}


{% block content %}
<h1 class="mt-4 mb-3">Enter Recipe
        <small>and Suggestions</small>
      </h1>

<div id="dropDownSelect1"></div>
<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SudoFood 2018</p>
      </div>
      <!-- /.container -->
    </footer>


{% endblock %}


{%- block scripts %}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Contact form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

{%- endblock scripts %}