{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    {% include 'google_analytics.html' %}
{% endblock %}
{% block styles %}
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SudoFood - Edit Profilee</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="{{url_for('static', filename='css/modern-business.css')}}" rel="stylesheet">-->
{% endblock styles %}

{% include "header.html" %}

{% block content %}
    <div class="container">
<h1 class="mt-4 mb-3">Hello, {{ user.username }}!</h1>
        <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-60">
            <a href="#"><img class="card-img-top" src="{{user.avatar(300)}}" alt=""></a>
          </div>
        </div>
        <br>
            <div class="col-lg-6 portfolio-item">
              <div class="card h-60">
                <div class="card-body">
                    <h4 class="card-title">
                   User Profile
                  </h4>
                  <p class="card-text">
                      {% if user.joined %}
                    Joined on: {{ user.joined }}<br>
                        {% endif %}
                        {% if user.last_seen %}
                    Last seen on: {{ user.last_seen }}<br>
                        {% endif %}
                  </p>
                  <h4 class="card-title">
                    Personal Information
                  </h4>
                  <p class="card-text">
                      {{ user.city }}, {{ user.country }}<br>
                      DOB: {{ user.date_of_birth }}<br>
                      Gender: {{ user.sex }}<br>
                      Height: {{ user.height }}<br>
                      Weight: {{ user.weight }}<br>
                      Goal: {{ user.goal }}<br>
                      Activity Level: {{ user.activity_level }}<br>
                      Workout Per Week: {{ user.workouts_per_week }}<br>
                  </p>
                    {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">Edit Your Profile</a></p>
                    {% endif %}
                </div>
              </div>
            </div>
            </div>
        <h3 class="my-4">Some of Your Recipes</h3>

      <div class="row">


{% for recipe in recipes %}
          {% if loop.index < 5 %}
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
              <img class="img-fluid" src="{{recipe['picture_url']}}" alt="" style="width:500px;height:300px;">
          </a>
        </div>
          {% endif %}
          {% endfor %}
        </div>
    </div>

<div id="dropDownSelect1"></div>

<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SudoFood 2018</p>
      </div>
</footer>

{% endblock %}

{%- block scripts %}
<!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
{%- endblock scripts %}
